# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Temporary images
temp.jpg

# Datasets (too heavy for git)
datasets/raw/*
datasets/processed/*
datasets/augmented/*
!datasets/raw/.gitkeep
!datasets/processed/.gitkeep
!datasets/augmented/.gitkeep
!datasets/augmented/ginger/
!datasets/augmented/ginger/**/*

# Logs and outputs
logs/
outputs/
notebooks/.ipynb_checkpoints/

# Ignore intermediate models but keep the final one
models/checkpoints/*
models/tflite/*
# Keep final model for Streamlit cloud
!models/saved/rhizonet_final.h5
